$navbar-default-bg: #7487a5;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  color: black;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: arial, sans-serif;
  float: left;
}

#logo:hover{
  color: #3a3838;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
   background-image: asset-url('wood.jpg'); 
   background-size: cover;
   height: 550px;
}

.jumbotron h1{
  color: #000711;
  text-align: center;
  padding-bottom: 1em;
  letter-spacing: -1.5px;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 6em;
}

.btn-xlarge{
  font-size: 1.5em;
  border-radius: 15%;
  background-color: #172438;
  border-color: #172438;
}

.btn-xlarge:hover {
  background-color: #7487a5 !important;
}

.navbar-links{
  color: black !important;
}

.navbar-links:hover{
  color: #3a3838 !important;
}

.article-actions{
  border-top: 1px solid #e8ebef;
  padding-top: .5em;
}

.description{
  margin-top: 0;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #e8ebef;
}

footer a:hover{
  font-weight: bold;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
  font-size: 12px;
}
