$navbar-default-bg: #7487a5;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  color: black;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: arial, sans-serif;
  float: left;
}

#logo:hover {
  color: #3a3838;
  text-decoration: none;
}

.article-actions {
  border-top: 1px solid #e8ebef;
  padding-top: .5em;
}

.article-body {
  font-family: arial, sans-serif;
  border-top: 1px solid #e8ebef;
  padding-top: .5em;
  padding-bottom: .5em;
}

.article-btns {
  margin-top: .3em;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-meta-details-div {
  padding-top: 4px;  
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  font-family: arial, sans-serif;
  padding-bottom: .3em;
}

.btn-xlarge {
  font-size: 1.5em;
  border-radius: 15%;
  background-color: #172438;
  border-color: #172438;
}

.btn-xlarge:hover {
  background-color: #7487a5 !important;
}

.center {
  text-align: center;
}

.description {
  margin-top: 0;
}


.jumbotron {
   background-image: asset-url('wood.jpg'); 
   background-size: cover;
   height: 550px;
   margin-top: 30px;
}

.jumbotron h1 {
  color: #000711;
  text-align: center;
  padding-bottom: 1em;
  letter-spacing: -1.5px;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 6em;
}

.navbar-links {
  color: black !important;
}

.navbar-links:hover {
  color: #3a3838 !important;
}

.page-title {
  font-family: arial, sans-serif;
}

.user-new-edit-title {
  margin-bottom: 25px;
}

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #e8ebef;
}

footer a:hover {
  font-weight: bold;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-size: 12px;
}
