<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% flash.each do |name, message| %>
      <div class='alert alert-<%="#{name}"%>'>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, message, :id => "flash_#{name}" if message.is_a?(String) %>
      </div>
    <% end %>  
  </div>
</div>
